<h1>Chores</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var chore in @Model)
        {
            <tr>
                <td>@chore.Name</td>
                <td>@chore.Level</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@chore.Id" method="post">
                        <input type="hidden" value="@chore.Id">
                        <input type="submit" value="delete">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>