@model homeChores.Models.AssignChore

<h1>Assign Chore</h1>
<form asp-action="Create">
  <label asp-for="User">Users</label>
  <select asp-for="User" asp-items="@Model.AppUsers"></select>

  <label asp-for="Chore">Chore</label>
  <select asp-for="Chore" asp-items="@Model.Chores"></select>

  <input type="submit" value="Create">
</form>
